<!DOCTYPE html>
<html>
<head>
body {
    background-image: <img src="/images/DeathtoStock3.jpg" alt="DeathtoStock3 feed" />
}
    <title></title>
</head>
  <body>

  Hello there! 
         <form id="createForm">

            <label>Location
            <input type="text" name="location" />
            </label>

            <label>Activity
            <input type="text" name="activity" />
            </label>

            <label>Business
            <input type="text" name="business" />
            </label>

            <label>Comments
            <input type="text" name="comments" />
            </label>
          <button data-action="submit">Add New Adventure!</button>

         </form> 


    <div id='main'></div>

      <script type="text/template" data-template="AdventureViewTemplate">
        <h1>Location: {{location}}</h1>
        <h2>Activity: {{activity}}  |  Business: {{business}}</h2>
        <p>Thoughts: {{comments}}</p>
        <br>
        <button data-action="delete">Delete</button>
        <button data-action="update">Update This Adventure!</button>        
      </script>

      <script type="text/template" data-template="UpdateTemplate">
          <form id="update">
            <label>Location
            <input type="text" name="edit-location" />
            </label>

            <label>Activity
            <input type="text" name="edit-activity" />
            </label>

            <label>Business
            <input type="text" name="edit-business" />
            </label>

            <label>Comments
            <input type="text" name="edit-comments" />
            </label>
            <button data-action="save">Save Adventure!</button>
          </form>
      </script> 

  </body>
</html>


